<div class="p-3 flex flex-col gap-y-2">
  <h2 mat-dialog-title>Students</h2>
  <mat-dialog-content>
    <div class="max-h-15 overflow-y-auto">
      <mat-list>
        @for (student of data.students; track student) {
        <mat-list-item>
          <img
            matListItemAvatar
            [src]="student.photoUrl"
            alt="Student avatar"
          />
          <div class="flex flex-row justify-between items-center">
            <span>{{ student.name }}</span>
            @if (data.canRemoveStudents && student.userId !== data.userId) {
            <button mat-icon-button matTooltip="Remove" (click)="openRemove(student.userId)">
              <mat-icon>clear</mat-icon>
            </button>
            }
          </div>
        </mat-list-item>
        }
      </mat-list>
    </div>
  </mat-dialog-content>
</div>
