<div class="p-3 flex flex-col items-center justify-center gap-y-2">
  <span class="font-bold text-lg">Enter your email to reset your password</span>
  <form (submit)="$event.preventDefault();onSubmit()" class="flex flex-col gap-y-2">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        [formControl]="emailField"
        placeholder="Email"
      />
      @if (emailField.invalid) {
      <mat-error>This email is invalid</mat-error>
      }
    </mat-form-field>
    <button mat-raised-button color="primary" >Send Reset Password Email</button>
  </form>
</div>
