<mat-card class="rounded-md m-2">
    <div class="flex flex-col dark:bg-zinc-500 dark:text-white p-3 md:flex-row ">
      <div class="w-full md:w-1/2 flex items-center justify-center">
        <span class="text-lg font-bold uppercase">Register</span>
      </div>
      <div class="w-full md:w-1/2 flex flex-col items-center justify-center p-3 gap-y-2">
        <span class="font-semibold capitalize">Create your your account</span>
        <form [formGroup]="registerForm" class="flex flex-col gap-y-2 w-full" (submit)="onSubmit()">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" type="text" placeholder="Name" />
            @if (registerForm.get('name')?.invalid){
              <mat-error>A name is required</mat-error>
            }
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" placeholder="Email" />
            @if (registerForm.get('email')?.invalid){
              <mat-error>This email is invalid!</mat-error>
            }
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" placeholder="Password" />
            @if (registerForm.get('password')?.invalid){
              <mat-error>This password is invalid!</mat-error>
            }
          </mat-form-field>
          <button mat-raised-button color="primary">Register</button>
        </form>
        <span>Already have an account? <a routerLink="/login" class="text-indigo-400">Login!</a></span>
      </div>
    </div>
</mat-card>
